/* GENERAL STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* MIXINS */
/* MAIN VARIABLES */
/* WHITE */
/* PINK */
/* BLOG TEMPLATE STYLES */
.blog-template {
  background: #fbe2e5;
  padding-bottom: 50px;
  /* NAVBAR */
  /* LATEST BLOGS STYLES */
  /* CURRENT BLOG STYLES */
}
.blog-template * {
  font-family: "Arvo", serif;
  color: #3a3b3b;
  cursor: default;
  transition: 0.3s all ease-in;
}
.blog-template img {
  border-radius: 5px;
}
.blog-template nav {
  width: 100%;
  background: #fbe2e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  /*
  &::after {
  	content: "";
  	position: relative;
  	width: 50%;
  	height: 3px;
  	background: $secondary-shadow-color;
  	bottom: 0;
  	margin-top: 10px;
  	border-radius: 3px;
  }*/
}
.blog-template nav h1 {
  font-size: 3rem;
}
.blog-template nav ul {
  display: flex;
  margin-top: 10px;
}
.blog-template nav ul li {
  margin: 0 15px;
}
.blog-template nav ul li a {
  color: black;
  transition: 0.2s all ease-in;
}
.blog-template .latest-blogs-container {
  width: 90%;
  margin: 0 auto;
  background: #adb1af4d;
  padding: 20px;
  border-radius: 5px;
}
.blog-template .latest-blogs-container h2 {
  font-size: 2.4rem;
}
.blog-template .latest-blogs-container .card-blog-item {
  display: flex;
  margin: 10px 0;
  padding: 15px 0 15px 15px;
  position: relative;
  background: #fbe2e5;
  width: 60%;
  border-radius: 5px;
  /*
  &::before {
  	content: "";
  	background: $secondary-shadow-color;
  	width: 10px;
  	height: 80px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	border-radius: 5px 0 0 0;
  }

  &::after {
  	content: "";
  	background: $secondary-shadow-color;
  	width: 80px;
  	height: 10px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	border-radius: 5px 0 0 0;
  }*/
}
.blog-template .latest-blogs-container .card-blog-item .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 20px;
}
.blog-template .latest-blogs-container .card-blog-item .card-info h3 {
  width: 60%;
  font-size: 1.8rem;
}
.blog-template .latest-blogs-container .card-blog-item .card-info .card-user-info {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.blog-template .latest-blogs-container .card-blog-item .card-info .card-user-info div {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.blog-template .latest-blogs-container .card-blog-item .card-info .card-user-info div img {
  margin-right: 10px;
  border-radius: 50%;
}
.blog-template .current-blog-container {
  width: 90%;
  margin: 20px auto;
}
.blog-template .current-blog-container .main-blog-image {
  width: 50%;
  margin: 0 auto;
  display: block;
}
.blog-template .current-blog-container h2 {
  width: 90%;
  margin: 20px 0;
}
.blog-template .current-blog-container .blog-user-info {
  display: flex;
  align-items: center;
  background: #adb1af4d;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.blog-template .current-blog-container .blog-user-info div {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.blog-template .current-blog-container .blog-user-info div img {
  margin-right: 10px;
  border-radius: 50%;
}
.blog-template .current-blog-container .blog-text-container p {
  margin: 20px 0;
  width: 90%;
  line-height: 2.3rem;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 600px) {
  /* BLOG TEMPLATE STYLES */
  .blog-template {
    /* NAVBAR */
    /* LATEST BLOGS STYLES */
    /* CURRENT BLOG STYLES */
  }
  .blog-template nav ul {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog-template nav ul li {
    margin: 5px 15px;
  }
  .blog-template .latest-blogs-container .card-blog-item {
    width: 90%;
    flex-direction: column;
    margin: 15px auto;
    padding: 15px;
  }
  .blog-template .latest-blogs-container .card-blog-item img {
    max-width: 150px;
  }
  .blog-template .latest-blogs-container .card-blog-item .card-info {
    padding: 0;
  }
  .blog-template .latest-blogs-container .card-blog-item .card-info h3 {
    width: 100%;
    text-align: left;
    margin: 10px 0;
  }
  .blog-template .latest-blogs-container .card-blog-item .card-user-info {
    display: flex;
    align-items: center;
  }
  .blog-template .latest-blogs-container .card-blog-item .card-user-info div {
    display: flex;
    margin-right: 20px;
    align-items: center;
  }
  .blog-template .latest-blogs-container .card-blog-item .card-user-info div img {
    margin-right: 10px;
    border-radius: 50%;
  }
  .blog-template .current-blog-container .blog-user-info {
    width: 100%;
  }
  .blog-template .current-blog-container .main-blog-image {
    width: 80%;
  }
}
/*

    INSPIRATION DESIGN
	https://www.uplabs.com/posts/mobile-blog-app-design

*/
/*

    MAIN DOM ELEMENTS
    1-background-color
    2-decoration-color
    3-latest-blogs-background
    4-latest-blogs-color
    5-blog-card-background
    6-blog-card-color
    7-main-blog-text-color
    8-main-blog-info-background
    9-main-blog-info-color

*/

/*# sourceMappingURL=main-blog.css.map */
