/* MIXINS */
/* COLORS */
/* LANDING PAGE TEMPLATE STYLES */
.landing-page-template {
  /* NAVBAR STYLES */
  /* HEADER SECTION */
  /* FEATURES SECTION */
  /* INNOVATIONS SECTION */
  /* PRICES SECTION */
  /* TESTIMONIALS SECTION */
}
.landing-page-template nav {
  width: 100%;
  background: #5c5c5c;
  padding: 18px 0;
}
.landing-page-template nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.landing-page-template nav div h1 {
  color: white;
}
.landing-page-template nav div ul {
  display: flex;
}
.landing-page-template nav div ul li {
  margin: 20px;
}
.landing-page-template nav div ul li a {
  color: white;
  transition: 0.2s all ease-in;
}
.landing-page-template nav div ul li a:hover {
  font-size: 1.8rem;
}
.landing-page-template header {
  background: #a37eba;
  width: 100%;
}
.landing-page-template header .content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
}
.landing-page-template header .header-image {
  display: flex;
  justify-content: center;
}
.landing-page-template header .header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.landing-page-template header .header-info p {
  margin: 20px 0;
}
.landing-page-template header .header-info a {
  background: #5c5c5c;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 2px 2px black;
  transition: 0.2s all ease-in;
  align-self: flex-start;
}
.landing-page-template header .header-info a:hover {
  background: #2e2e2e;
}
.landing-page-template .features-container {
  background: #e8e8e8;
  color: #2e2e2e;
}
.landing-page-template .features-container .content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.landing-page-template .features-container .content .features-info {
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
  color: #2e2e2e;
}
.landing-page-template .features-container .content .features-info hr {
  width: 35%;
  margin: 20px auto;
  height: 1px;
  border: 0;
  background: #5c5c5c;
}
.landing-page-template .features-container .content .features-info p {
  width: 65%;
  margin: 0 auto;
}
.landing-page-template .features-container .content .features-content {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.landing-page-template .features-container .content .features-content .first-info div,
.landing-page-template .features-container .content .features-content .second-info div {
  margin: 35px 0;
}
.landing-page-template .features-container .content .features-content .first-info div h3,
.landing-page-template .features-container .content .features-content .second-info div h3 {
  margin-bottom: 20px;
}
.landing-page-template .features-container .content .features-content .image {
  padding: 0 20px;
}
.landing-page-template .innovation-container {
  background: #a37eba;
}
.landing-page-template .innovation-container .content {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page-template .innovation-container .content .info {
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
  color: white;
}
.landing-page-template .innovation-container .content .info hr {
  width: 35%;
  margin: 20px auto;
  height: 1px;
  border: 0;
  background: #e8e8e8;
}
.landing-page-template .innovation-container .content .info p {
  width: 65%;
  margin: 0 auto;
}
.landing-page-template .innovation-container .content img {
  margin: 20px 0;
}
.landing-page-template .innovation-container .content a {
  background: #5c5c5c;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 2px 2px black;
  transition: 0.2s all ease-in;
  margin-bottom: 20px;
}
.landing-page-template .innovation-container .content a:hover {
  background: #2e2e2e;
}
.landing-page-template .prices-container {
  background: #e8e8e8;
  color: #2e2e2e;
}
.landing-page-template .prices-container .content {
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-page-template .prices-container .content .info {
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
  color: #2e2e2e;
}
.landing-page-template .prices-container .content .info hr {
  width: 35%;
  margin: 20px auto;
  height: 1px;
  border: 0;
  background: #5c5c5c;
}
.landing-page-template .prices-container .content .info p {
  width: 65%;
  margin: 0 auto;
}
.landing-page-template .prices-container .content .prices-content ul {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  flex-wrap: wrap;
}
.landing-page-template .prices-container .content .prices-content ul li {
  text-align: center;
  margin: 20px;
  border: 4px solid #96969680;
  padding: 20px;
}
.landing-page-template .prices-container .content .prices-content ul li .benefits {
  margin-bottom: 35px;
}
.landing-page-template .prices-container .content .prices-content ul li .benefits p {
  margin: 15px 0;
}
.landing-page-template .prices-container .content .prices-content ul li .price-text {
  margin: 20px 0;
}
.landing-page-template .prices-container .content .prices-content ul li a {
  background: #5c5c5c;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 2px 2px black;
  transition: 0.2s all ease-in;
}
.landing-page-template .prices-container .content .prices-content ul li a:hover {
  background: #2e2e2e;
}
.landing-page-template .testimonials-container {
  background: #a37eba;
  padding-bottom: 40px;
}
.landing-page-template .testimonials-container .content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-page-template .testimonials-container .content .title {
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
  color: white;
}
.landing-page-template .testimonials-container .content .title hr {
  width: 35%;
  margin: 20px auto;
  height: 1px;
  border: 0;
  background: #e8e8e8;
}
.landing-page-template .testimonials-container .content .title p {
  width: 65%;
  margin: 0 auto;
}
.landing-page-template .testimonials-container .content .testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
.landing-page-template .testimonials-container .content .testimonial .person-text {
  width: 60%;
  margin: 0 auto;
}
.landing-page-template .testimonials-container .content .testimonial .name {
  margin: 15px 0;
}
.landing-page-template .testimonials-container .content .testimonial hr {
  color: white;
  width: 50%;
  margin: 20px auto;
}
.landing-page-template .testimonials-container .content .testimonial img {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 600px) {
  /* LANDING PAGE TEMPLATE STYLES */
  .landing-page-template {
    /* NAVBAR STYLES */
    /* HEADER SECTION */
    /* FEATURES SECTION */
  }
  .landing-page-template nav div {
    flex-direction: column;
  }
  .landing-page-template nav div ul {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .landing-page-template nav div ul li {
    padding: 10px;
    background: #2e2e2e;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
  }
  .landing-page-template header .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .landing-page-template header .content a {
    justify-self: center;
  }
  .landing-page-template .features-container .first-info,
.landing-page-template .features-container .second-info {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  /* LANDING PAGE TEMPLATE STYLES */
  .landing-page-template {
    /* FEATURES SECTION */
  }
  .landing-page-template .features-container .features-content {
    flex-direction: column;
  }
  .landing-page-template .features-container .features-content .first-info,
.landing-page-template .features-container .features-content .second-info {
    text-align: center;
    display: flex;
  }
  .landing-page-template .features-container .features-content .first-info div,
.landing-page-template .features-container .features-content .second-info div {
    margin: 35px 0;
  }
  .landing-page-template .features-container .features-content .first-info div p,
.landing-page-template .features-container .features-content .second-info div p {
    width: 65%;
    margin: 0 auto;
  }
  .landing-page-template .features-container .features-content .first-info div h3,
.landing-page-template .features-container .features-content .second-info div h3 {
    margin-bottom: 20px;
  }
}
/* 

    INSPIRATION DESIGN 
    https://www.uplabs.com/posts/carabobo-material-design-landing-page

*/
/* 

    MAIN DOM ELEMENTS
    1-navbar-background
    2-navbar-color
    3-header-background
    4-header-color
    5-features-background
    6-features-color
    7-innovations-background
    8-innovations-color
    9-prices-background
    10-prices-color
    11-testimonials-background
    12-testimonials-color
    13-alternative-color

*/

/*# sourceMappingURL=main-lp.css.map */
