/* MIXINS */
@mixin classic-btn {
	background: $secondary-color;
	padding: 10px 15px;
	border-radius: 5px;
	color: white;
	box-shadow: 0px 2px 2px black;
	transition: 0.2s all ease-in;

	&:hover {
		background: $black-text;
	}
}

@mixin title-content($hr-color, $text-color) {
	text-align: center;
	padding: 20px 0;
	margin: 20px 0;
	color: $text-color;

	hr {
		color: $hr-color;
		width: 35%;
		margin: 20px auto;
	}

	p {
		width: 65%;
		margin: 0 auto;
	}
}

/* COLORS */
$main-color: #e8e8e8;
$secondary-color: #5c5c5c;
$secondary-shadow-color: #a37eba;
$black-text: #2e2e2e;

/* LANDING PAGE TEMPLATE STYLES */
.landing-page-template {
	/* NAVBAR STYLES */
	nav {
		width: 100%;
		background: $secondary-color;
		padding: 18px 0;

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			margin: 0 auto;

			h1 {
				color: white;
			}

			ul {
				display: flex;

				li {
					margin: 20px;

					a {
						color: white;
						transition: 0.2s all ease-in;

						&:hover {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}

	/* HEADER SECTION */
	header {
		background: $secondary-shadow-color;
		width: 100%;

		.content {
			width: 90%;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			padding: 20px;
		}

		.header-image {
			display: flex;
			justify-content: center;
		}

		.header-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: white;

			p {
				margin: 20px 0;
			}

			a {
				@include classic-btn;
				align-self: flex-start;
			}
		}
	}

	/* FEATURES SECTION */
	.features-container {
		background: $main-color;
		color: $black-text;

		.content {
			width: 90%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;

			.features-info {
				@include title-content($secondary-color, $black-text);
			}

			.features-content {
				margin: 20px 0;
				display: flex;
				align-items: center;

				.first-info,
				.second-info {
					div {
						margin: 35px 0;

						h3 {
							margin-bottom: 20px;
						}
					}
				}

				.image {
					padding: 0 20px;
				}
			}
		}
	}

	/* INNOVATIONS SECTION */
	.innovation-container {
		background: $secondary-shadow-color;

		.content {
			padding: 40px 0;
			width: 90%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.info {
				@include title-content($main-color, white);
			}

			img {
				margin: 20px 0;
			}

			a {
				@include classic-btn();
				margin-bottom: 20px;
			}
		}
	}

	/* PRICES SECTION */
	.prices-container {
		background: $main-color;
		color: $black-text;

		.content {
			padding: 20px 0;
			width: 90%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.info {
				@include title-content($secondary-color, $black-text);
			}

			.prices-content {
				ul {
					display: flex;
					justify-content: center;
					padding-bottom: 40px;
					flex-wrap: wrap;

					li {
						text-align: center;
						margin: 20px;
						border: 4px solid #96969680;
						padding: 20px;

						.benefits {
							margin-bottom: 35px;

							p {
								margin: 15px 0;
							}
						}

						.price-text {
							margin: 20px 0;
						}

						a {
							@include classic-btn();
						}
					}
				}
			}
		}
	}

	/* TESTIMONIALS SECTION */
	.testimonials-container {
		background: $secondary-shadow-color;
		padding-bottom: 40px;

		.content {
			width: 90%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.title {
				@include title-content($main-color, white);
			}

			.testimonial {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				color: white;

				.person-text {
					width: 60%;
					margin: 0 auto;
				}

				.name {
					margin: 15px 0;
				}

				hr {
					color: white;
					width: 50%;
					margin: 20px auto;
				}

				img {
					width: 150px;
					border-radius: 50%;
					margin: 0 auto 20px auto;
				}
			}
		}
	}
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 600px) {
	/* LANDING PAGE TEMPLATE STYLES */
	.landing-page-template {
		/* NAVBAR STYLES */
		nav {
			div {
				flex-direction: column;

				ul {
					margin-top: 20px;
					flex-wrap: wrap;
					justify-content: center;
					flex-direction: column;

					li {
						padding: 10px;
						background: $black-text;
						border-radius: 5px;
						text-align: center;
						margin: 5px;
					}
				}
			}
		}

		/* HEADER SECTION */
		header {
			.content {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr;

				a {
					justify-self: center;
				}
			}
		}

		/* FEATURES SECTION */
		.features-container {
			.first-info,
			.second-info {
				flex-direction: column;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	/* LANDING PAGE TEMPLATE STYLES */
	.landing-page-template {
		/* FEATURES SECTION */
		.features-container {
			.features-content {
				flex-direction: column;

				.first-info,
				.second-info {
					text-align: center;
					display: flex;

					div {
						margin: 35px 0;

						p {
							width: 65%;
							margin: 0 auto;
						}

						h3 {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}
