/* GENERAL SELECTORS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Balsamiq Sans", cursive;
}

html {
	font-size: 10px;
}

body {
	width: 100%;
	font-size: 1.6rem;
}

button {
	cursor: pointer;
	border: none;
}

input {
	border: none;
}

ul {
	list-style: none;
}
