@use "config-blog";

/* MAIN VARIABLES */
$main-color: #fbe2e5; /* WHITE */
$secondary-color: #adb1af4d;
$secondary-shadow-color: #767c77; /* PINK */
$black-text: #3a3b3b;

/* BLOG TEMPLATE STYLES */
.blog-template {
	background: $main-color;
	padding-bottom: 50px;

	* {
		font-family: "Arvo", serif;
		color: $black-text;
	}

	img {
		border-radius: 5px;
	}

	/* NAVBAR */
	nav {
		width: 100%;
		background: $main-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 15px 0;

		h1 {
			font-size: 3rem;
		}

		&::after {
			content: "";
			position: relative;
			width: 50%;
			height: 3px;
			background: $secondary-shadow-color;
			bottom: 0;
			margin-top: 10px;
			border-radius: 3px;
		}

		ul {
			display: flex;
			margin-top: 10px;

			li {
				margin: 0 15px;

				a {
					color: black;
					transition: 0.2s all ease-in;

					&:hover {
						font-size: 1.7rem;
					}
				}
			}
		}
	}

	/* LATEST BLOGS STYLES */
	.latest-blogs-container {
		width: 90%;
		margin: 0 auto;
		background: $secondary-color;
		padding: 20px;

		h2 {
			font-size: 2.4rem;
		}

		.card-blog-item {
			display: flex;
			margin: 10px 0;
			padding: 15px 0 15px 15px;
			position: relative;
			background: $main-color;
			width: 60%;
			border-radius: 5px;

			&:hover {
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
			}

			&::before {
				content: "";
				background: $secondary-shadow-color;
				width: 10px;
				height: 80px;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 5px 0 0 0;
			}

			&::after {
				content: "";
				background: $secondary-shadow-color;
				width: 80px;
				height: 10px;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 5px 0 0 0;
			}

			.card-info {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 0 0 0 20px;

				h3 {
					width: 60%;
					font-size: 1.8rem;
				}

				.card-user-info {
					@include config-blog.user-info;
					font-size: 1.4rem;
				}
			}
		}
	}

	/* CURRENT BLOG STYLES */
	.current-blog-container {
		width: 90%;
		margin: 20px auto;

		.main-blog-image {
			width: 50%;
			margin: 0 auto;
			display: block;
		}

		h2 {
			width: 90%;
			margin: 20px 0;
		}

		.blog-user-info {
			@include config-blog.user-info;
			background: $secondary-color;
			padding: 8px;
			border-radius: 6px;
			text-align: left;
		}

		.blog-text-container {
			p {
				margin: 20px 0;
				width: 90%;
				line-height: 2.3rem;
			}
		}
	}
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 600px) {
	/* BLOG TEMPLATE STYLES */
	.blog-template {
		/* NAVBAR */
		nav {
			ul {
				width: 90%;
				flex-wrap: wrap;
				justify-content: center;

				li {
					margin: 5px 15px;
				}
			}
		}

		/* LATEST BLOGS STYLES */
		.latest-blogs-container {
			.card-blog-item {
				width: 90%;
				flex-direction: column;
				margin: 15px auto;
				padding: 15px;

				img {
					max-width: 150px;
				}

				.card-info {
					padding: 0;

					h3 {
						width: 100%;
						text-align: left;
						margin: 10px 0;
					}
				}

				.card-user-info {
					@include config-blog.user-info;
				}
			}
		}

		/* CURRENT BLOG STYLES */
		.current-blog-container {
			.main-blog-image {
				width: 80%;
			}
		}
	}
}
