@use "config-blog";


/*
	TEMPLATE EXAMPLE URL: https://www.uplabs.com/posts/mobile-blog-app-design
*/


/* BLOG TEMPLATE STYLES */

.blog-template {
	display: none;
	background: white;
	padding-bottom: 50px;

	/* NAVBAR */
	nav {
		width: 100%;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 15px 0;

		&::after {
			content: "";
			position: relative;
			width: 50%;
			height: 3px;
			background: pink;
			bottom: 0;
			margin-top: 10px;
			border-radius: 3px;
		}

		ul {
			display: flex;
			margin-top: 10px;

			li {
				margin: 0 15px;

				a {
					color: black;
				}
			}
		}
	}

	/* LATEST BLOGS STYLES */
	.latest-blogs-container {
		width: 90%;
		margin: 0 auto;
		background: #fbe2e5;
		padding: 20px;

		.card-blog-item {
			display: flex;
			margin: 10px 0;
			padding: 15px 0 15px 15px;
			position: relative;
			background: white;
			width: 60%;


			&::before {
				content: "";
				background: pink;
				width: 10px;
				height: 80px;
				position: absolute;
				top: 0;
				left: 0;
			}

			&::after {
				content: "";
				background: pink;
				width: 80px;
				height: 10px;
				position: absolute;
				top: 0;
				left: 0;
			}

			.card-info {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 0 0 0 20px;

				h3 {
					width: 60%;
				}

				.card-user-info {
					@include config-blog.user-info;
				}
			}
		}
	}

	/* CURRENT BLOG STYLES */
	.current-blog-container {
		width: 90%;
		margin: 20px auto;

		.main-blog-image {
			width: 50%;
			margin: 0 auto;
			display: block;
		}

		h2 {
			width: 90%;
			margin: 20px 0;
		}

		.blog-user-info {
			@include config-blog.user-info;
			background: #fbe2e5;
			padding: 8px;
			border-radius: 6px;
			text-align: left;
		}

		.blog-text-container {
			p {
				margin: 20px 0;
				width: 90%;
			}
		}


	}

}

/* RESPONSIVE STYLES */
@media screen and (max-width: 600px) {

	/* BLOG TEMPLATE STYLES */
	.blog-template {

		/* NAVBAR */
		nav {
			ul {
				width: 90%;
				flex-wrap: wrap;
				justify-content: center;

				li {
					margin: 5px 15px;
				}
			}
		}

		/* LATEST BLOGS STYLES */
		.latest-blogs-container {

			.card-blog-item {
				width: 90%;
				flex-direction: column;
				margin: 15px auto;
				padding: 15px;

				img {
					max-width: 150px;
				}

				.card-info {
					padding: 0;

					h3 {
						width: 100%;
						text-align: left;
						margin: 10px 0;
					}
				}

				.card-user-info {
					@include config-blog.user-info;
				}
			}
		}

		/* CURRENT BLOG STYLES */
		.current-blog-container {

			.main-blog-image {
				width: 80%;
			}
		}





	}
}